@import "allthewords";
@import "controls";
@import "boxes";
@import "lettersguess_used";

*{
  font-family: 'Chakra Petch', sans-serif;
}
body{
  background-color: tan;
}

.title{
  margin-left: 40%;
}

// input,button{
//   font-family: 'Chakra Petch', sans-serif;
// }
